.intro {
  @extend %padding-vertical-titan;

  overflow : hidden;
  position : relative;

  @include query($baby-bear) {
    padding-bottom : getSpace(huge);
    padding-top    : getSpace(huge);
  }

  @include query($up-baby-bear) {
    font-size : getFontSize(large);
  }

  @include query($up-mama-bear) {
    font-size : getFontSize(huge);
  }

  .intro-bg-container,
  .intro-bg {
    height          : 150%;
    position        : absolute;
    width           : 150%;
  }

  .intro-bg-container {
    left : -25%;
    top  : -25%;
  }

  .intro-bg {
    background : getColor(grapes) url(../images/backgrounds/intro.jpg) no-repeat center center;
    background-size : cover;
  }

  .container {
    position : relative;
    z-index  : 1;

    &.visible .diamond,
    &.visible .title {
      @include opacity(1);
    }

    .diamond, .title {
      @include opacity(0);
    }

    .diamond {
      @extend .sprites-diamond;

      @include inline-block;
      @include transition(opacity 0.5s ease);

      height : 94px;
      width  : 100px;
    }

    .title {
      @include transition(opacity 0.5s ease 0.3s);
    }
  }
}
