<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Amatista Digital</title>
    <meta name="description" content="Somos una agencia desarrolladora de sitios web interactivos y aplicaciones móviles para su negocio o empresa.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut-icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- build:css({.tmp,app}) styles/screen.css -->
    <link rel="stylesheet" href="styles/screen.css">
    <!-- endbuild -->
  </head>

  <body ng-app="amatistadigitalApp" ng-controller="MainCtrl as main">

    <!-- Navigation -->
    <ul class="page-navigation">
      <li class="navigation-item" ng-repeat="section in main.sections" ng-class="{ active : main.activeSection === section.id }" scroll-to="{{ section.id }}" scroll-duration="1000">
        <img ng-src="images/section-icons/{{ section.id }}.png" />
      </li>
    </ul>

    <!-- Sections. -->
    <content-area ng-repeat="section in main.sections" name="section.id" on-visible="main.activeSection = section.id" on-visible-trigger="topWindow"></content-area>

    <!-- Page footer. -->
    <footer class="footer">
      <div class="container">

        <div class="brand">Amatista Digital</div>
        <div class="contact">

          <div class="contact-info">
            <h4 class="contact-title">Amatista Digital S.A.</h4>

            <table class="contact-data">
              <tr>
                <td>Email:</td>
                <td>info@amatistadigital.com</td>
              </tr>
              <tr>
                <td>Teléfono:</td>
                <td>(+506) 8888-8888</td>
              </tr>
              <tr>
                <td>Ubicación:</td>
                <td>San José, Costa Rica</td>
              </tr>
            </table>

            <a href="mailto:info@amatistadigital.com" class="btn btn-primary">Contáctenos</a>
            <a href="http://www.facebook.com/amatistadigitalcr" target="_blank" class="btn btn-facebook"><div class="icon"></div></a>
            <a href="http://twitter.com" target="_blank" class="btn btn-twitter"><div class="icon"></div></a>
          </div>

        </div>
      </div>

      <p class="disclaimer">&copy;2013 Amatista Digital S.A. | San José, Costa Rica | info@amatistadigital.com</p>
    </footer>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/parallax/source/parallax.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/onVisible.js"></script>
    <script src="scripts/controllers/Main.js"></script>
    <script src="scripts/controllers/CreativeProcess.js"></script>
    <script src="scripts/directives/contentArea.js"></script>
    <script src="scripts/controllers/OurPowers.js"></script>
    <script src="scripts/directives/parallax.js"></script>
    <script src="scripts/directives/scrollTo.js"></script>
    <!-- endbuild -->
</body>
</html>
