.page-footer {
  @include box-sizing(border-box);
  @extend %padding-vertical-large;

  @include query($up-brother-bear) {
    background      : url(../images/backgrounds/footer.png);
    background-size : 100% 100%;
    bottom          : 0;
    height          : 417px;
    padding-top     : getSpace(huge);
    position        : absolute;
    width           : 100%;

    .container {
      position : relative;
      height   : 100%;
    }
  }

  .disclaimer {
    @extend %text-center;
    @extend %text-small;
    @extend %text-asphalt;

    @include query($up-brother-bear) {
      bottom   : 15px;
      position : absolute;
      width    : 100%;
    }
  }

  .brand {
    $brand-height : 129px;
    $brand-width  : 309px;

    @extend .sprites-brand;
    height      : $brand-height;
    text-indent : -9999px;
    width       : $brand-width;

    // Center when brother bear.
    @include query($brother-bear) {
      background-size : 100%;
      height          : $brand-height / 2;
      margin          : 0 auto;
      width           : $brand-width / 2;
    }
  }

  .contact {
    background : url(../images/backgrounds/footer-contact.png) no-repeat bottom left;
    bottom     : 0;
    height     : 390px;
    position   : absolute;
    right      : 0;
    width      : 390px;

    @include query($papa-bear) {
      right : getSpace(medium);
    }

    // Hide when device is small.
    @include query($brother-bear) {
      display : none;
    }

    .contact-info {
      @extend %background-orange;
      @extend %padding-medium;

      @include border-radius(50px);
      @include box-sizing(border-box);

      padding-bottom : 30px;
      position       : absolute;
      top            : 0;
      width          : 100%;
      z-index        : 2;

      &:before {
        border-color : transparent transparent transparent getColor(orange);
        border-style : solid;
        border-width : 30px 0 30px 30px;
        bottom       : -30px;
        content      : "";
        height       : 0px;
        left         : 100px;
        position     : absolute;
        width        : 0px;
        z-index      : 1;
      }

      .contact-title {
        @extend %text-center;
      }

      .contact-data {
        @extend %margin-vertical-medium;

        tr td {
          @extend %padding-bottom-x-small;

          &:first-child {
            @extend %padding-right-medium;
            @extend %text-right;

            font-weight : bold;
          }
        }
      }

      .btn-facebook .icon {
        @extend .sprites-facebook;
        height : 29px;
        width  : 16px;
      }

      .btn-twitter .icon {
        @extend .sprites-twitter;
        height : 29px;
        width  : 34px;
      }
    }
  }
}
