.section-title {
  @extend %border-white;
  @extend %padding-lateral-huge;
  @extend %padding-vertical-small;

  @include border-radius(5px);
  @include inline-block;

  border-width : 2px;

  @include query($up-baby-bear) {
    font-size    : 3em;
  }

  &.inverse {
    @extend %text-asphalt;
    border-color : getColor(asphalt);
  }
}
